[variables]
    NIXPACKS_PHP_EXTENSIONS = 'intl, gd, zip, pdo_mysql, bcmath'

[phases.setup]
    nixPkgs = ['php82', 'php82Packages.composer', 'nodejs_20']

[phases.build]
    cmds = ['composer install --ignore-platform-reqs', 'npm install', 'npm run build']

[start]
    cmd = 'php artisan migrate --force && php -S 0.0.0.0:$PORT -t public'